$color-primary: #ffe600;
$color-primary-intense: #f5c905;
$color-primary-muted: #ffdd75;

$color-secondary: #0f131a;
$color-secondary-intense: #07090d;
$color-secondary-muted: #181c25;

$color-accent: #993d3d;
$color-accent-intense: #832121;
$color-accent-muted: #ac5353;
